@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");

body {
  background-color: #3d1a24;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Prompt;
}
.content {
  display: flex;
  flex-flow: row wrap;
  background-color: #162a24;
  color: white;
}

.character-intro {
  text-align: center;
  padding: 10px;
  background-color: #00000071;
  color: #fff;
  line-height: 20px;
  border-radius: 5px;
  font-family: "Prompt", sans-serif;
}

.input {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 1em;
}

.input-content {
  margin: 0.75em;
}

.btn-group {
  display: flex;
  justify-content: space-around;
  padding: 1.5em;
}

.btn-submit {
  display: flex;
  justify-content: center;
  margin: 0.1em;
}

button[type="submit"] {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-weight: 400;
  font-size: 1.1em;
  border: 1.5px solid white;
  border-radius: 5px;
  padding: 5px 25px;
  margin: 0px 90px;
}

button[type="submit"]:hover {
  background-color: white;
  color: black;
}

.choose-path {
  display: flex;
  justify-content: center;
  margin: 0.1em;
}
